/* Everything here is for the navbar */
.header1 {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 20px;
    height: 100px;
}

.header1 .selection {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.selection {
    padding-top: 5px;
}

.header1 .btn + .btn {
    margin-left: 10px;
}

.header2 {
    display: none;
}

i + span {
    margin-left: 4px;
}

.logo-section {
    height: 0;
    margin-top: -15px;
    position: absolute;
}

.logo-section img {
    opacity: 0;
    width: auto;
    height: 90px;
    z-index: 2;
    /* Height of logo to height of header */
}

.button-list2 {
    height: 0;
    margin-top: -25px;
    position: static;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.button-list2 button {
    font-size: 1.25rem;
}

.button-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    margin: 0 auto;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #657bea;
}

.login i {
    padding-right: 12px;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .header1 {
        display: none;
    }

    .header2 {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        padding: 20px 20px;
        width: 100%;
        z-index: 100;
    }

    .header2 .open-menu {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 24px;
        width: 24px;
    }

    .menu .close-menu {
        display: block;
        color: white;
        font-size: 24px;
        width: 24px;
    }

    .menu {
        visibility: hidden;
        margin-left: -200px;
        opacity: 0;
        transition: .4s;
    }

    .menu[class='menu active'] {
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 0;
        width: 200px;
        height: 100%;
        background: rgba(0, 0, 0, .93);
        box-shadow: 20px 20px 60px rgba(0, 0, 0, .5);
        padding: 20px 20px;
        z-index: 100;
        opacity: 1;
        transition: .4s;
    }

    #menu_toggle[class='fa-solid fa-bars open-menu active'] {
        display: none;
    }

    .menu-content {
        display: block;
        margin-top: 30px;
    }

    .menu-content .btn {
        display: block;
        margin-bottom: 10px;
    }

    .btn:hover {
        background-color: transparent;
    }
}